.filterDiv {
    padding: 0px 0px 32px 0px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1184px;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filterContainer {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 14px;
    background-color: #3470FF;
    border: none;
    width: 100%;
    max-width: 226px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;
}

.filterContainer:hover {
    background-color: #255EE8;
}

.filterTitle {
    color: #8A8A89;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.selectedOption {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FBFBFB;
}

.arrowIcon {
    width: 14px;
    height: 14px;
    fill: #9B9B9B;
    transition: transform 0.2s;
}

.filterContainer:hover .arrowIcon {
    fill: #3470EE;
}

.optionsList {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: 2px 20px 65px 0px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    z-index: 11;
    padding: 14px 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.option {
    color: rgba(25, 26, 21, 0.30);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    cursor: pointer;
}

.option:last-child {
    border-bottom: none;
}

.option:hover {
    color: #191A15;
}

@media (max-width: 768px) {
    .filterDiv {
        padding: 0px 0px 12px 0px;
        gap: 6px;
        margin: 0 auto;
    }

    .filter {
        align-items: center;
        width: 60%;
    }

    .filterContainer {
        width: 100%;
        max-width: 100%;
        height: 42px;
    }

    .filterTitle {
        font-size: 12px;
        margin-bottom: 6px;
        text-align: center;
    }

    .selectedOption {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .filterDiv {
        padding: 0px 0px 10px 0px;
        gap: 4px;
        margin: 0 auto;
    }

    .filter {
        align-items: center;
        width: 60%;
    }

    .filterContainer {
        width: 100%;
        max-width: 100%;
        height: 38px;
    }

    .filterTitle {
        font-size: 10px;
        margin-bottom: 4px;
        text-align: center;
    }

    .selectedOption {
        font-size: 12px;
    }

    .arrowIcon {
        width: 12px;
        height: 12px;
    }
}