.timePickerContainer {
    position: relative;
    display: inline-block;
}

.timeInput {
    padding: 16px 12px;
    border-radius: 12px;
    border: 1px solid rgba(25, 26, 21, 0.10);
    cursor: pointer;
    width: 232px;
    box-sizing: border-box;
    background-color: transparent;
    height: 52px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    padding-right: 40px;
}

.timeInput::placeholder {
    color: #191A15;
}

.icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: none;
    stroke: #191A15;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 30%;
    border-top: none;
    border-radius: 12px;
    background-color: white;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 151px;
    max-height: 180px;
    overflow-y: scroll;
}

.dropdownHeader {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 16px;
    color: #191A15;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    z-index: 2;
}

.dropdownContent {}

.timeOption {
    padding: 8px 12px;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(25, 26, 21, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.timeOption:hover {
    color: #191A15;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
}

.focusedTimeOption {
    color: #000;
    font-weight: bold;
}

.timePart {
    margin: 0 2px;
}

.timeSeparator {
    margin: 0 4px;
}