.header {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 1184px;
    margin: 0 auto;
    padding: 0px;
}

.logo {
    color: #3470FF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.4px;
}

.logoSpan {
    color: #191A15;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.4px;
    font-family: Inter;
}

.nav {
    display: flex;
    height: 20px;
}

.navLink {
    margin-left: 20px;
    color: #191A15;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.16px;
    position: relative;
}

.navIcon {
    display: block;
    margin: 4px auto 0;
    /* Центрируем иконку под текстом */
}

.authButtons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.authButton {
    padding: 14px 39px;
    border: 1px solid rgba(25, 26, 21, 0.20);
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #191A15;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.16px;
}

.authButton2 {
    margin-left: 10px;
    padding: 14px 39px;
    border: 1px solid rgba(25, 26, 21, 0.20);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.16px;
    background: #3470FF;
}

.authButton:hover,
.authButton2:hover {
    background: #255EE8;
}

.userSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #3470FF;
    border-radius: 10px;
    color: white;
}

.userName {
    color: #191A15;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.16px;
    margin-right: 14px;
}