.header {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 1rem;
    overflow-x: hidden;
}

.logo {
    color: #3470FF;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.logoSpan {
    color: #191A15;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    font-family: Inter;
}

.nav {
    display: flex;
    height: 1.25rem;
}

.navLink {
    margin-left: 1.25rem;
    color: #191A15;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.01em;
    position: relative;
}

.navIcon {
    display: block;
    margin: 0.25rem auto 0;
}

.authButtons {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.authButton {
    padding: 0.875rem 2.5rem;
    border: 1px solid rgba(25, 26, 21, 0.20);
    border-radius: 1.875rem;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #191A15;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

.authButton2 {
    margin-left: 0.625rem;
    padding: 0.875rem 2.5rem;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.01em;
    background: #3470FF;
}

.authButton:hover,
.authButton2:hover {
    background: #255EE8;
}

.userSection {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.userAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #3470FF;
    border-radius: 0.625rem;
    color: white;
}

.userName {
    color: #191A15;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-right: 0.875rem;

}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .navLink {
        margin: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    .authButtons {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
    }

    .authButton,
    .authButton2 {
        width: 80%;
        margin-top: 0.5rem;
    }

    .userSection {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    .userName {
        margin-right: 0;
    }
}


@media (max-width: 480px) {

    .logo,
    .logoSpan {
        font-size: 1.125rem;

    }

    .nav {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .navLink {
        margin: 0.5rem 0;
        font-size: 0.875rem;
    }

    .authButtons {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .authButton,
    .authButton2 {
        width: 90%;
        margin-top: 0.5rem;
        font-size: 0.875rem;
    }

    .userSection {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
    }

    .userName {
        font-size: 0.875rem;
    }
}