.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
}

.head {
    margin-bottom: 16px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.specialization,
.experience,
.price,
.rating,
.license,
.initialConsultation {
    margin: 4px 0;
}

.toggleButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.toggleButton:hover {
    background-color: #0056b3;
}

.details {
    margin-top: 16px;
}

.about {
    margin-bottom: 16px;
}

.reviewsTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.reviewsList {
    list-style-type: none;
    padding: 0;
}

.review {
    border-top: 1px solid #ccc;
    padding: 8px 0;
}

.review:first-of-type {
    border-top: none;
}

.heartButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    fill: none;
    stroke: #191A15;
}