.card {
    background-color: #FFFFFF;
    border-radius: 24px;
    box-sizing: border-box;
    padding: 24px;
    width: 1184px;
    cursor: pointer;
    border: none;
    display: flex;
    margin: 0 auto;
}


.cardContainer {
    margin-bottom: 32px;
}


.cardImg {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 25px;
    display: block;
    padding: 12px;
    border: 2px solid rgba(52, 112, 255, 0.20);
}

.cardImg svg {
    position: absolute;
    top: 23px;
    right: 12px;
    width: 14px;
    height: 14px;
    fill: #38C22B;
}

.head {
    display: flex;
    flex-direction: column;
}

.title {
    color: #8A8A89;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 4px;
}

.headTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 8px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin-bottom: 16px;
    gap: 4px;
}

.experience,
.specialization,
.license,
.initialConsultation {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    padding: 8px 13px;
    border-radius: 24px;
    background: #F3F3F3;
    border: transparent;
    display: inline-flex;
    align-items: center;
    width: fit-content;
}

.label {
    color: #9B9B9B;
    margin-right: 4px;
}

.description {
    color: #8A8A89;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 48px;
}

.priceRating {
    display: flex;
    justify-content: space-between;
}

.price {
    color: #191A15;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    align-items: center;
    margin-left: 16px;
    display: flex;
}

.priceLabel {
    color: #333333;
    margin-right: 3px;
}

.priceRating .price {
    color: #38C22B;
}

.heartButton {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    stroke: #191A15;
    fill: transparent;
}


.heartButton.filledHeart {
    fill: #3470FF;
    stroke: none;
}

.rating {
    color: #191A15;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    padding-right: 16px;
    border-right: 1px solid rgba(25, 26, 21, 0.20);
    min-height: 16px;
    gap: 8px;
    align-items: center;
}




.toggleButton {
    color: #191A15;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-align: left;
    margin-bottom: 24px;
    background-color: transparent;
    border: none;
}

.details {
    margin-top: 0;
}

.about {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 16px;
}

.reviewsList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.review {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    margin-bottom: 25px;
}

.review:last-child {
    margin-bottom: 40px;
}

.reviewAvatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(52, 112, 255, 0.20);
    color: #3470FF;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    margin-right: 16px;
    flex-shrink: 0;
}

.reviewContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.reviewerInfo {
    display: flex;
    flex-direction: column;
}

.reviewerNameRating {
    margin-bottom: 8px;
}

.reviewerName {
    color: #191A15;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 4px;
}

.ratingContainer {
    display: flex;
    align-items: center;
}

.starIcon {
    width: 16px;
    height: 16px;
    fill: #F2C94C;
    margin-right: 4px;
    margin-bottom: 2px;
}

.ratingValue {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.comment {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #9B9B9B;
    opacity: 0.7;
    margin: 0;
    margin-top: 8px;
}

.appointment {
    display: flex;
    justify-content: left;
    align-items: right;
    text-align: right;
}

.appointmentButton {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.16px;
    border: none;
    border-radius: 30px;
    background: #3470FF;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    padding: 14px 32px;

}

.appointmentButton:hover {
    background: #255EE8;
}